
#titleAndContent {
  height: 100%;
  width: 100%;
  align-items: center;
  display: grid;
  gap: 50px;
  grid-template-rows: 6% 1fr 18%;
}




h1 {
  width: 98%;
  padding-left: 2%;
  padding-top: 6%;

}


#contentSection {
  width: 98%;
  padding-left: 2%;
  
}


